a,
a:hover,
a:link,
a:visited,
a:active,
a:focus {

    text-decoration: none !important;
    /* background: none !important; */

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    transition: none !important;

}