#page-site-index{

    header {
        display:none;
    }

    .secondary-navigation{
        display: none;
    }

    .simplesearchform  input {
        /*addition settings change in scss/moodle/search.scss */
        padding:12px 20px!important;
        
        border:1px solid rgba(59, 59, 59, 0.25);

        &::placeholder{
            color:rgba(59, 59, 59, 0.7);
        }

    }
}