a,
a:hover,
a:link,
a:visited,
a:focus {

    text-decoration: none !important;
    /* background: none !important; */

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    transition: none !important;

}

#page-site-index{
a,
a:hover,
a:link,
a:visited,
a:focus {

    text-decoration: none !important;
    /* background: none !important; */

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    transition: none !important;

}

    a:active,
    a:focus,
    a:focus-visible,
    a:visited,
    a:target {
        background: none !important;
        box-shadow: none !important;
    }
}